{{page-title "Index"}}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>NadetDev</td>
    <td>Web Development</td>
    <td>+33 01 0 03 04 05</td>
    <td>nadetdev@email.com</td>
    <td>
      <LinkTo @route="client.view" @model="1">View</LinkTo> | Edit | Delete
    </td>
  </tr>
  <tr>
    <td>NadetSoft</td>
    <td>Web Development</td>
    <td>+33 01 0 03 04 05</td>
    <td>nadetdev@email.com</td>
    <td>
      <LinkTo @route="client.view" @model="2">View</LinkTo> | Edit | Delete
    </td>
  </tr>
  </tbody>
</table>
{{outlet}}