{{page-title "EmberDiscovery"}}

<h1 class="page-title text-center">Ember Discovery App</h1>
<div class="text-center">
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="about">About</LinkTo>
  <LinkTo @route="client.index" @query={{ hash sortBy="name" order="asc" }}>Clients</LinkTo>
</div>

{{outlet}}